{% extends "auctions/layout.html" %}

{% block title %}Create Listing{% endblock %}

{% block body %}
    {% if message %}
        {{ message }}
    {% endif %}

    <form action="{% url 'createlisting' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Title">
        <input type="text" name="desc" placeholder="Desc">
        <input type="number" name="startprice" placeholder="Starting Bid">
        <input type="url" name="imageUrl" placeholder="Image Url">
        <input type="submit" value="Create">
    </form>
{% endblock %}